@import '../../commons.scss';

.carouselWindow {
  width: 100%;
  height: 100%;
  background-color: #000;
  padding-top: 35px;
  padding-bottom: 20px;

  .carousel.carousel-slider {
    height: calc(100% - 100px);

    & .control-prev {
      position: fixed;
      left: 0;

      &::before {
        border: 0;
        background-image: url('../../commonimgs/mangoplate_sprites_desktop.png');
        background-position: -935px -281px;
        width: 28px;
        height: 45px;
        opacity: 0.8;
      }
    }

    & .control-next {
      position: fixed;
      right: 0;

      &::before {
        border: 0;
        background-image: url('../../commonimgs/mangoplate_sprites_desktop.png');
        background-position: -935px -332px;
        width: 28px;
        height: 45px;
        opacity: 0.8;
      }
    }

    & .slider-wrapper {
      width: 100%;
      height: 100%;

      & .slider {
        width: 100%;
        height: 100%;

        & .slide {
          width: 100%;
          height: 100%;

          .imgWrapper {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .carouselImages {
              width: 74%;
              position: absolute;
              height: 100%;
              object-fit: cover;
            }

            .reviewContent {
              position: absolute;
              width: 335px;
              height: 100%;
              background-color: #fff;
              right: 0;
              bottom: 0;

              .name {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 40px;
                color: #444;
                font-size: 1.6rem;
                border-bottom: 1px solid #f2f2f2;
              }

              .reviewBody {
                position: relative;
                margin: 10px 15px;
                display: flex;
                flex-wrap: wrap;

                .profileArea {
                  width: 50%;
                  display: inline-flex;
                  justify-content: flex-start;
                  align-items: center;

                  .profilePic {
                    width: 44px;
                    height: 44px;
                    border-radius: 50%;
                    object-fit: cover;
                  }

                  .author {
                    margin-left: 10px;
                    font-size: 1.4rem;
                  }
                }

                .ratingArea {
                  width: 50%;
                  height: auto;
                  display: inline-flex;
                  flex-direction: column;
                  align-items: flex-end;

                  .evalFace {
                    width: 40px;
                    height: 30px;
                  }

                  .evalText {
                    width: 40px;
                    text-align: center;
                    font-size: 1.3rem;
                    line-height: 1.5;
                    color: $main-color;
                  }
                }

                .carouselContent {
                  margin-top: 20px;
                  font-size: 1.35rem;
                  font-weight: 400;
                  word-break: break-all;
                  white-space: normal;
                  text-align: left;
                  line-height: 1.5;
                  overflow-y: auto;
                  max-height: 150px;
                  color: rgba(51, 51, 51, 0.8);
                }
              }
            }
          }
        }
      }
    }
  }

  .carousel {
    width: 100%;
    height: 100%;

    .thumb {
      border: 0;
      height: 80px;
      margin-right: 3px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
      }

      .carouselImages {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .thumb.selected {
      border: 0;
      position: relative;

      &::before {
        display: none;
      }
    }
  }
}