@import '../../commons.scss';

.secondary {
  // padding: 30px 50px 0px 50px;
  font-weight: 900;
  color: #ff792a;
  text-align: center;
  margin: 50px 70px;

  & h2 {
    text-align: left;
    margin-left: 20px;
    // transform: translateX(-40%);
    margin-bottom: 9px;
    font-size: 2.3rem;
  }

  & .tags {
    display: flex;
    margin-bottom: 30px;
  }

  & button {
    justify-content: end;
    margin-left: 5rem;
    font-size: 2rem;
  }

  & .secondarylistList {
    margin-bottom: 29px;
    position: relative;
    color: #fff;
    display: inline-block;
    max-width: 416px;
    // width: 30%;
    margin-left: 14.5px;
    margin-right: 14.5px;
    text-align: center;

    & p {
      font-weight: 600;
      font-size: 2.8rem;
      text-shadow: 3px 3px 30px rgba(000, 000, 000, 0.7);
      color: $color-white;
      position: absolute;
      top: 50%;
      left: 50%;
      @include center;
      white-space: nowrap;
    }

    & img {
      width: 100%;
      object-fit: cover;
    }

    @media all and (min-width: $size-basic) and (max-width: $size-normal) {
      width: 100%;
      font-size: 4rem;
      display: block;
      margin-right: 20px;
      text-align: center;
    }
  }
}