@charset 'utf-8';
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

*,
*::before,
*::after {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  vertical-align: baseline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

html {
  font-size: 10px;
  line-height: 1;
}

button {
  background: none;
}

ul,
ol,
dl {
  list-style: none;
}
